@{
	ViewData["title"] = "Exchange";
}
<style>
	
</style>
<div class="Wrapper">
    @if (ViewBag.UsdBuy != null && ViewBag.UsdSell != null && ViewBag.EuroBuy !=null &&  ViewBag.EuroSell != null)
    {
        <div class="Exchange_Currencies">
            <div class="Container">
                <div class="Name">Curr</div>
                <div class="CurrencyBuy">Buy</div>
                <div class="CurrencySell">Sell</div>
                <div></div>

            </div>
            <div class="Container">
                <div class="Name">USD</div>
                <div class="CurrencyBuy">@ViewBag.UsdBuy</div>
                <div class="CurrencySell">@ViewBag.UsdSell</div>
                <div>
                    <input type="checkbox" id="UsdBox">
                </div>
            </div>
            <div class="Container">
                <div class="Name">EUR</div>
                <div class="CurrencyBuy">@ViewBag.EuroBuy</div>
                <div class="CurrencySell">@ViewBag.EuroSell</div>
                <div>
                    <input type="checkbox" id="EuroBox">
                </div>
            </div>
            <div class="Container"  >
            <button id="submit-btn">Convert</button>
                
             </div>
            <input type="text" placeholder="100" id="Amount">

           

            <p id="result"></p>
           
            </div>
           
    }
    else
    {
        <p>No data available</p>
    }

</div>


