@{
	ViewData["title"] = "Welcome";
}

<!DOCTYPE html>
<html>
<head>
	<style>
		

		.go{
			padding:14px 5px 14px 5px;
			background-color:green;
			font-size:17px;
			color:white;
			border:none;
			border-radius:4px;
			transition:0.2s;
			cursor:pointer;
			text-decoration:none;
		}
		.go:hover{
			opacity:0.8;
			text-decoration:underline;
		}


	</style>

</head>
<body>
	<div>
		<a class="go" asp-controller="Home" asp-action="Exchange">
			Click here
		</a>
	</div>
</body>

</html>